<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Components &mdash; Cloudkeeper v2.0.0a1 documentation</title>
      <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
      <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
      <link rel="stylesheet" href="../../_static/css/custom.css" type="text/css" />
      <link rel="stylesheet" href="../../_static/css/custom.css" type="text/css" />
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
        <script data-url_root="../../" id="documentation_options" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
    <script src="../../_static/js/theme.js"></script>
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Spotlight: API" href="ckcore_spotlight.html" />
    <link rel="prev" title="Query library" href="../../manual/query_library.html" /> 
</head>

<body class="wy-body-for-nav"> 
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >


  <a href="../../index.html" class="icon icon-home">
  
    <img src="../../_static/SomeEngineering_Logo_m.png" class="logo" alt="Logo"/>
  
  Cloudkeeper

</a>


  
  



<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>


        </div><div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="Navigation menu">
              <p class="caption" role="heading"><span class="caption-text">General</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../index.html">Introduction</a></li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Getting Started</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../getting_started/quick_start.html">Quick start</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/quick_start.html#install-run-cloudkeeper">Install &amp; Run Cloudkeeper</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#aws-credentials">AWS Credentials</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#run-cloudkeeper">Run Cloudkeeper</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/quick_start.html#start-the-cloudkeeper-cli">Start the Cloudkeeper CLI</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#collect-aws-inventory">Collect AWS Inventory</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#you-have-this-many-ressources">You have this many ressources!</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/quick_start.html#usage-of-the-cloudkeeper-cli">Usage of the Cloudkeeper CLI</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#how-to-access-help">How to access help</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#list-your-resource-types">List your resource types</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#query-your-resource-types">Query your resource types</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#count-and-filter-your-resources">Count and filter your resources</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/quick_start.html#you-made-it">You made it!</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#what-now">What now?</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/quick_start.html#how-you-get-more-assistance">How you get more assistance</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../getting_started/setup_individual_components.html">Setup individual components</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/setup_individual_components.html#prerequisites">Prerequisites</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/setup_individual_components.html#prepare-your-environment">Prepare your environment</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#configuration">Configuration</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#example-for-ckcore">Example for <code class="docutils literal notranslate"><span class="pre">ckcore</span></code></a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#arangodb">ArangoDB</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#run">Run</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#prepare-graph-database-for-ckcore">Prepare graph database for <code class="docutils literal notranslate"><span class="pre">ckcore</span></code></a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/setup_individual_components.html#install-cloudkeeper-components">Install Cloudkeeper components</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#ckcore">ckcore</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#install-ckcore">Install ckcore</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#usage">Usage</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#run-ckcore">Run ckcore</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#securing-ckcore">Securing ckcore</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#cksh">cksh</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#install-cksh">Install cksh</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#id2">Usage</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#run-cksh">Run cksh</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#ckworker">ckworker</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#install-ckworker">Install ckworker</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#ckworker-plugins">ckworker plugins</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#id3">Usage</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#run-ckworker">Run ckworker</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#ckmetrics">ckmetrics</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#install-ckmetrics">Install ckmetrics</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#id4">Usage</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../getting_started/setup_individual_components.html#run-ckmetrics">Run ckmetrics</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/setup_individual_components.html#optional-run-prometheus">(Optional) Run Prometheus</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#id6">Run</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/setup_individual_components.html#you-made-it">You made it!</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#what-now">What now?</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/setup_individual_components.html#how-you-get-more-assistance">How you get more assistance</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../getting_started/access_permissions.html">Access Permissions</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../getting_started/access_permissions.html#aws-permissions">AWS Permissions</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/access_permissions.html#discovery-only">Discovery only</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../getting_started/access_permissions.html#full-capabilities">Full capabilities</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Manual</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../manual/discovery.html">Discovery</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#graph-node">Graph Node</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/graph_node_spotlight.html">Spotlight: Graph Node</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#available-commands">Available Commands</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#query">query</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#reported">reported</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#desired">desired</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#metadata">metadata</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#selecting-nodes">Selecting Nodes</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-by-kind">Select nodes by kind</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-by-predicate">Select nodes by predicate</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/discovery.html#property-path">property_path</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/discovery.html#operation">operation</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/discovery.html#value">value</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/discovery.html#example-predicates">Example predicates</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-by-id">Select nodes by id</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#combine-selections">Combine selections</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#graph-edges">Graph Edges</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#traversal-selectors">Traversal Selectors</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#inbound-and-outbound">Inbound and outbound</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-all-direct-nodes-outbound-of-node">Select all direct nodes outbound of node</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-all-direct-nodes-inbound-of-node">Select all direct nodes inbound of node</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-that-include-the-current-node">Select nodes that include the current node</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-with-a-defined-depth-in-the-graph">Select nodes with a defined depth in the graph</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-nodes-with-an-undefined-depth-in-the-graph">Select nodes with an undefined depth in the graph</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#select-inbound-and-outbound-nodes">Select inbound and outbound nodes</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#abbreviations">Abbreviations</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#traversal-selection-commands">Traversal Selection Commands</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#ensuring-an-existing-defined-graph-structure">Ensuring an existing defined graph structure</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#ensure-there-is-no-matching-node">Ensure there is no matching node</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#ensure-there-is-at-least-one-matching-node">Ensure there is at least one matching node</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#ensure-there-is-a-specific-count-of-matching-nodes">Ensure there is a specific count of matching nodes</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/discovery.html#aggregation-of-data">Aggregation of data</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#aggregation-example">Aggregation example</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#syntax-of-an-aggregation-query-part">Syntax of an aggregation query part</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/discovery.html#examples-of-aggregation-functions">Examples of aggregation functions</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../manual/action.html">Action</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../manual/action.html#how-cloudkeeper-maintains-your-resources">How Cloudkeeper maintains your resources</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/action.html#workflows">Workflows</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/action.html#collect">collect</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/action.html#cleanup">cleanup</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/action.html#metrics">metrics</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../manual/action.html#collect-and-cleanup">collect_and_cleanup</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/action.html#working-with-tags">Working with tags</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/action.html#deleting-resources">Deleting resources</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/action.html#mark-resources-for-deletion">Mark resources for deletion</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/action.html#delete-the-actual-ressources">Delete the actual ressources</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../manual/query_library.html">Query library</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../../manual/query_library.html#by-kind">By kind</a><ul>
<li class="toctree-l3"><a class="reference internal" href="../../manual/query_library.html#aws-alb">aws_alb</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/query_library.html#orphaned-load-balancers-that-have-no-active-backend">Orphaned Load Balancers that have no active backend</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/query_library.html#aws-iam-access-key">aws_iam_access_key</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/query_library.html#number-of-active-access-keys-per-user">Number of active access keys per user</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/query_library.html#certificate">certificate</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/query_library.html#find-expired-ssl-certificates-currently-in-use">Find expired ssl certificates currently in use</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/query_library.html#quota">quota</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/query_library.html#find-current-quota-consumption-to-prevent-service-interruptions">Find current quota consumption to prevent service interruptions</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../../manual/query_library.html#volume">volume</a><ul>
<li class="toctree-l4"><a class="reference internal" href="../../manual/query_library.html#discover-unused-volumes">Discover unused volumes</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../manual/query_library.html#query-missing">Query missing?</a></li>
</ul>
</li>
</ul>
<p class="caption" role="heading"><span class="caption-text">Cloudkeeper</span></p>
<ul class="current">
<li class="toctree-l1 current"><a class="current reference internal" href="#">Components</a><ul>
<li class="toctree-l2"><a class="reference internal" href="#ckcore">ckcore</a><ul>
<li class="toctree-l3"><a class="reference internal" href="ckcore_spotlight.html">Spotlight: API</a><ul>
<li class="toctree-l4"><a class="reference internal" href="ckcore_spotlight.html#evaluate">Evaluate</a></li>
<li class="toctree-l4"><a class="reference internal" href="ckcore_spotlight.html#execute">Execute</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="#cksh">cksh</a></li>
<li class="toctree-l2"><a class="reference internal" href="#ckmetrics">ckmetrics</a></li>
<li class="toctree-l2"><a class="reference internal" href="#ckworker">ckworker</a></li>
<li class="toctree-l2"><a class="reference internal" href="#cklib">cklib</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../model.html">Model</a><ul>
<li class="toctree-l2"><a class="reference internal" href="../model.html#resource">Resource</a></li>
<li class="toctree-l2"><a class="reference internal" href="../model.html#resource-hierarchy">Resource Hierarchy</a></li>
<li class="toctree-l2"><a class="reference internal" href="../model.html#kind-cli-command"><code class="docutils literal notranslate"><span class="pre">kind</span></code> CLI command</a></li>
<li class="toctree-l2"><a class="reference internal" href="../model.html#complex-and-simple-kinds">Complex and simple kinds</a></li>
</ul>
</li>
</ul>

        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap"><nav class="wy-nav-top" aria-label="Mobile navigation menu" >
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../contents.html">Cloudkeeper</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="Page navigation">
  <ul class="wy-breadcrumbs">
      <li><a href="../../contents.html" class="icon icon-home"></a> &raquo;</li>
      <li>Components</li>
      <li class="wy-breadcrumbs-aside">
            <a href="../../_sources/cloudkeeper/components/index.rst.txt" rel="nofollow"> View page source</a>
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
             
  <div class="section" id="components">
<span id="component-list"></span><h1>Components<a class="headerlink" href="#components" title="Permalink to this headline"></a></h1>
<p>These are the moving parts of Cloudkeeper.
We will now guide you through the setup and run procedure for each one.
<a class="reference internal" href="../../getting_started/setup_individual_components.html#plugins"><span class="std std-ref">ckworker plugins</span></a> have no extra section, as they are integrated via <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a></p>
<ul class="simple">
<li><p><a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a>: the platform maintaining the <a class="reference external" href="https://en.wikipedia.org/wiki/Multigraph#Directed_multigraph_(edges_with_own_identity)">MultiDiGraph</a>.</p></li>
<li><p><a class="reference internal" href="#component-cksh"><span class="std std-ref">cksh</span></a>: the Cloudkeeper shell to interact with the core.</p></li>
<li><p><a class="reference internal" href="#component-ckmetrics"><span class="std std-ref">ckmetrics</span></a> is a <a class="reference external" href="https://prometheus.io/">Prometheus</a> <a class="reference external" href="https://prometheus.io/docs/instrumenting/exporters/">exporter</a>.</p></li>
<li><p><a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> provides workers that load <a class="reference external" href="https://github.com/someengineering/cloudkeeper/tree/main/plugins">plugins</a> to perform collect and cleanup operations.</p></li>
<li><p><a class="reference internal" href="../../getting_started/setup_individual_components.html#plugins"><span class="std std-ref">ckworker plugins</span></a> are a collection of worker plugins like <a class="reference external" href="plugins/aws/">AWS</a></p></li>
</ul>
<p>To give you a better understanding of how cloudkeepers components interact with each other and where prometheus and arangoDB come in, we have prepared this visualisation for you.</p>
<img alt="Component connection" src="../../_images/component_graph.png" />
<div class="section" id="ckcore">
<span id="component-ckcore"></span><h2>ckcore<a class="headerlink" href="#ckcore" title="Permalink to this headline"></a></h2>
<p>The Cloudkeeper graph platform <a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a> is the persistence and query backend of Cloudkeeper. It maintains the graph
of resources and provides APIs to update and access them. Within <a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a> there are workflows consisting of steps
that result in actions like <code class="docutils literal notranslate"><span class="pre">collect</span></code>, <code class="docutils literal notranslate"><span class="pre">cleanup</span></code> or <code class="docutils literal notranslate"><span class="pre">generate_metrics</span></code>. These actions are being received by components
like <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> and <a class="reference internal" href="#component-ckmetrics"><span class="std std-ref">ckmetrics</span></a>.</p>
<p>You can find more information in the section about <a class="reference internal" href="ckcore_spotlight.html#ckcore-spotlight"><span class="std std-ref">Spotlight: API</span></a>.</p>
<div class="toctree-wrapper compound">
</div>
</div>
<div class="section" id="cksh">
<span id="component-cksh"></span><h2>cksh<a class="headerlink" href="#cksh" title="Permalink to this headline"></a></h2>
<p><a class="reference internal" href="#component-cksh"><span class="std std-ref">cksh</span></a> starts the Cloudkeeper shell. It is used to interact with <a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a>.
It allows you to explore the graph, find resources of interest, mark them for cleanup, fix their tagging, aggregate over their metadata to create metrics and format the output for use in a 3rd party script or system.</p>
</div>
<div class="section" id="ckmetrics">
<span id="component-ckmetrics"></span><h2>ckmetrics<a class="headerlink" href="#ckmetrics" title="Permalink to this headline"></a></h2>
<p><a class="reference internal" href="#component-ckmetrics"><span class="std std-ref">ckmetrics</span></a> takes <a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a> graph data and runs aggregation functions on it.
Those aggregated metrics are then exposed in a <a class="reference internal" href="../../getting_started/setup_individual_components.html#prometheus"><span class="std std-ref">(Optional) Run Prometheus</span></a> compatible format.</p>
</div>
<div class="section" id="ckworker">
<span id="component-ckworker"></span><h2>ckworker<a class="headerlink" href="#ckworker" title="Permalink to this headline"></a></h2>
<p><a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> does all the collection and cleanup work in Cloudkeeper. It is connected to <a class="reference internal" href="#component-ckcore"><span class="std std-ref">ckcore</span></a> over a websocket connection and waits for instructions. By default it subscribes to the <cite>collect</cite> and <cite>cleanup</cite> actions as well as <cite>tag</cite> tasks.</p>
<p><a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> loads collector <a class="reference internal" href="../../getting_started/setup_individual_components.html#plugins"><span class="std std-ref">ckworker plugins</span></a> like AWS, GCP, Slack, Onelogin, etc.
Only those plugins have knowledge about how to communicate with each cloud. How to collect resources and how to clean them up.</p>
<p>There can be one or more instances of <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> in a Cloudkeeper deployment. A single <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> can collect many clouds or you could have multiple <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> collecting one cloud or even one account in one cloud each.</p>
<p>Once <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a> is started you do not have to interact with it at all. It will just sit there, wait for work and do its job.</p>
<div class="line-block">
<div class="line">Most of the <a class="reference internal" href="../../manual/action.html#action"><span class="std std-ref">actions</span></a> are done by <a class="reference internal" href="#component-ckworker"><span class="std std-ref">ckworker</span></a>.</div>
<div class="line">Only exception is <a class="reference internal" href="../../manual/action.html#workflow-metrics"><span class="std std-ref">metrics</span></a>, which are processed by <a class="reference internal" href="#component-ckmetrics"><span class="std std-ref">ckmetrics</span></a></div>
</div>
</div>
<div class="section" id="cklib">
<span id="component-cklib"></span><h2>cklib<a class="headerlink" href="#cklib" title="Permalink to this headline"></a></h2>
<p>Any functionality that is required by more than one of our components will be put in <a class="reference internal" href="#component-cklib"><span class="std std-ref">cklib</span></a> library.</p>
</div>
</div>


           </div>
          </div>
          <footer><div class="rst-footer-buttons" role="navigation" aria-label="Footer">
        <a href="../../manual/query_library.html" class="btn btn-neutral float-left" title="Query library" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
        <a href="ckcore_spotlight.html" class="btn btn-neutral float-right" title="Spotlight: API" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>&#169; Copyright 2021, Some Engineering Inc..</p>
  </div>

  Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    provided by <a href="https://readthedocs.org">Read the Docs</a>.
   

</footer>
        </div>
      </div>
    </section>
  </div>
  <script>
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>
    <!-- Theme Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-237E5P27RE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-237E5P27RE', {
          'anonymize_ip': false,
      });
    </script> 

</body>
</html>